<div class="modal-body forgot-modal change-password">
  <form (ngSubmit)="submitForm()" [formGroup]="changePasswordForm">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <img src="assets/images/close.png" alt="logo" />
    </button>
    <div class="title-icon text-center">
      <img src="assets/images/bird-color.png" alt="logo" />
<h2 class="page-title">change password</h2>
    </div>
<!--     <p class="forgot-text">{{ 'CHANGE_PSWD.text' | translate }}</p> -->
    <div class="form-group">
      <input type="password" formControlName="oldPassword" class="form-control" placeholder="old password" />
      <div *ngIf="submitted && f.oldPassword.errors" class="text-danger error-label">
        <div *ngIf="f.oldPassword.errors.required"> {{ 'ERROR.OLD_PASSWORD' | translate }}</div>
      </div>
      <div *ngIf="!isOldPasswordValid" class="text-danger error-label">
        <div> {{ 'ERROR.OLD_PASSWORD_INVALID' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="newPassword" class="form-control" placeholder="new password" />
      <div *ngIf="submitted && f.newPassword.errors" class="text-danger error-label">
        <div *ngIf="f.newPassword.errors.required"> {{ 'ERROR.NEW_PASSWORD' | translate }}</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="confirmPassword" class="form-control" placeholder="confirm password" />
      <div *ngIf="submitted && f.confirmPassword.errors" class="text-danger error-label">
<div *ngIf="f.confirmPassword.errors.required"> {{ 'ERROR.CONFIRM_PASSWORD' | translate }}</div>
      </div>
      <div *ngIf="!isPasswordMatched" class="text-danger error-label">
        <div> {{ 'ERROR.PASSWORD_NOT_MATCHED' | translate }}</div>
      </div>
    </div>
    <div class="button-group text-center">
      <input type="submit" name="" value="{{ 'BUTTON.CHANGE_PASSWORD' | translate }}" class="btn btn-golden">
    </div>
  </form>
</div>