<section class="my-account">
	<div class="mini-banner">
		<h3 class="title">my account</h3>
	</div>
	<div class="my-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<aside>
						<div class="left-bar">
							<div class="profile-pic">
								<figure>
									<img src="assets/images/user.jpg" class="img-fluid" />
								</figure>
								<p class="name">Justine Markle</p>

								<label for="file-upload" class="custom-file-upload">
									<img src="assets/images/edit.png" class="img-fluid" />
								</label>
								<input id="file-upload" type="file" />

							</div>
							<ul class="account-navigation">
								<li>
									<a href="javascript:void(0)" class="active">apppoitments</a>
								</li>
								<li>
									<a href="javascript:void(0)">wallet</a>
								</li>
								<li>
									<a href="javascript:void(0)">refer a friend</a>
								</li>
								<li>
									<a href="javascript:void(0)">my profile</a>
								</li>
							</ul>
							<div class="logout">
								<a href="javascript:void(0)" class="btn-golden">log out</a>
							</div>
						</div>
					</aside>
				</div>
				<div class="col-lg-9">
					<!-- <div class="right-content">
	            <h4 class="title">Upcoming appointments </h4>
	            <div class="book-now">
		            <p class="appoitments-subtitle">why don’t you treat yourself </p>
		            <a href="javascript:void(0)" class="btn-golden">bokk now</a>
		        </div>
		        <div class="marble-title">
		        	<div class="title-container">
		        		<img src="assets/images/marble-title.jpg" class="img-fluid" />
		        		<h4 class="title">Previous appointments</h4>
		        	</div>
		        </div>
		        <div class="appointments-list">
			        <div class="row">
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
	      	</div> -->
					<!-- <div class="right-content">
	            <h4 class="title-sm">Upcoming appointments </h4>
	            <div class="appointments-list upcomming">
			        <div class="row">
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden" href="#">view detail</a>			                	
				                </div>			                
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row no-border price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>			                	
				                </div>
				                <div class="upgrade-cancel-btn">
				                	<input type="submit" class="btn btn-golden" value="upgrade" name="">
				                	<input type="submit" class="btn btn-cancel" value="cancel" name="">
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="appointment-service">
				                	<div class="service-title beauty">beauty</div>
				                	<p>deep tissue massage</p>
				                </div>
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden" href="#">view detail</a>			                	
				                </div>			                
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half no-border price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half no-border upgrade">
				                		<label>upgrade</label>
				                		<span>+gel removal, £10</span>
				                	</div>
				                </div>
				                <div class="upgrade-cancel-btn">
				                	<input type="submit" class="btn btn-golden" value="upgrade" name="">
				                	<input type="submit" class="btn btn-cancel" value="cancel" name="">
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
								<div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden" href="#">view detail</a>			                	
				                </div>			                
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row no-border price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>			                	
				                </div>
				                <div class="upgrade-cancel-btn">
				                	<input type="submit" class="btn btn-golden" value="upgrade" name="">
				                	<input type="submit" class="btn btn-cancel" value="cancel" name="">
				                </div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
	            <div class="marble-title">
		        	<div class="title-container">
		        		<img src="assets/images/marble-title.jpg" class="img-fluid" />
		        		<h4 class="title">Previous appointments</h4>
		        	</div>
		        </div>
		        <div class="appointments-list">
			        <div class="row">
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        	<div class="col-lg-6 col-xl-4">
			        		<div class="appointment-container">
			        			<div class="profile-pic">
				              		<figure>
					                	<img src="assets/images/marble-profile-pic1.png" class="img-fluid" />
					              	</figure>
					              	<p class="name">Margot Robbie</p>
					            </div>
					            <ul class="rated-star">
			                  		<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star colored" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                  	<li><i class="fa fa-star" aria-hidden="true"></i></li>
				                </ul>
				                <div class="appointment-btns">
				                	<a class="btn-golden add-review" href="#">add review</a>
				                	<a class="btn-golden add-gratuity" href="#">add gratuity</a>
				                </div>
				                <div class="appointment-service">
				                	<div class="service-title massage">Massage</div>
				                	<p>deep tissue massage</p>
				                </div>
				                <div class="appointment-decs">
				                	<div class="appointment-row reference">
				                		<label>reference</label>
				                		<span>3451289056325</span>
				                	</div>
				                	<div class="appointment-row date-and-time">
				                		<label>date & time</label>
				                		<span>25/03/18</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>10:30 am</span>
				                	</div>
				                	<div class="appointment-row half lenght">
				                		<label>lenght</label>
				                		<span>60 min</span>
				                	</div>
				                	<div class="appointment-row half postcode">
				                		<label>postcode</label>
				                		<span>453882</span>
				                	</div>
				                	<div class="appointment-row half price">
				                		<label>price</label>
				                		<span>£30.00</span>
				                	</div>
				                	<div class="appointment-row half upgrade">
				                		<label>upgrade</label>
				                		<span>30 min</span>
				                		<span>&nbsp;-&nbsp;</span>
				                		<span>30£</span>
				                	</div>
				                </div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
	        </div> -->
	        <!-- <div class="right-content">
	        	<div class="row">
	        		<div class="col-lg-5">
	        			<h4 class="card-title">card list</h4>
	        			<div class="card-list">
	        				<div class="added-card">
	        					<div class="check">
	        						<label class="fancy-radio">
				                        <input type="radio" name="card">
				                        <span><i></i></span>
				                    </label>
	        					</div>
	        					<div class="type">
	        						<img src="assets/images/mastercard.jpg" class="img-fluid" />
	        					</div>
	        					<div class="number"><p class="card-no">•••• •••• •••• 9783</p></div>		
	        					<div class="remove">
	        						<a href="javascript:void(0)" class="remove-card">
	        							<img src="assets/images/remove.png" class="img-fluid" />	        						
	        						</a>
	        					</div>
	        				</div>
	        				<div class="added-card">
	        					<div class="check">
	        						<label class="fancy-radio">
				                        <input type="radio" name="card">
				                        <span><i></i></span>
				                    </label>
	        					</div>
	        					<div class="type">
	        						<img src="assets/images/mastercard.jpg" class="img-fluid" />
	        					</div>
	        					<div class="number"><p class="card-no">•••• •••• •••• 9783</p></div>		
	        					<div class="remove">
	        						<a href="javascript:void(0)" class="remove-card">
	        							<img src="assets/images/remove.png" class="img-fluid" />	        						
	        						</a>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="text-center">
		        			<input type="submit" class="btn btn-golden" value="add a new card" name="">
		        		</div>
	        		</div>
	        		<div class="col-lg-5 offset-lg-2">
	        			<h4 class="card-title">fill your card details</h4>
	        			<form>
	        				<div class="add-card">
		        				<div class="form-group">
			                       <input type="text" class="form-control" placeholder="name your card" />
			                    </div>
			                    <div class="form-group">
			                       <input type="text" class="form-control" placeholder="card number" />
			                    </div>
			                    <div class="date-container">
				                    <div class="form-group">
				                       <input type="text" class="form-control" placeholder="start date " />
				                    </div>
				                    <div class="form-group">
				                       <input type="text" class="form-control" placeholder="expiry date" />
				                    </div>
				                </div>
			                    <div class="form-group">
			                       <input type="text" class="form-control" placeholder="securuty code" />
			                    </div>	
			                </div>
			                <div class="text-center">
			                    <input type="submit" class="btn btn-golden width-170" value="add card" name="">	                    
			                </div>
	        			</form>
	        		</div>
	        	</div>
	        	<div class="wallet-details">
                    <div class="row">
	                    <div class="col-lg-8 offset-lg-2">
	                        <div class="page-title">Wallet detail</div>
	                        <div class="wallet-total-balance">
	                            <label>£100</label>
	                            <span>total balance</span>
	                        </div>
	                        <div class="wallet-massage-disc">
	                            <div class="wallet-massage-date">24/04/2018</div>
	                            <div class="wallet-massage-status">
	                                <span class="wallet-massage-name">deep tissue massage deep</span>
	                                <div class="wallet-massage-price">
	                                    <select class="form-control">
	                                        <option>- £60</option>
	                                        <option>- £80</option>
	                                        <option>- £100</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="wallet-user">
	                            <div class="profile-pic">
	                                <figure>
	                                    <img class="img-fluid" src="assets/images/marble-profile-pic1.png">
	                                </figure>
	                                <p class="name">Margot Robbie</p>
	                            </div>
	                            <ul class="rated-star">
	                                <li><i aria-hidden="true" class="fa fa-star colored"></i></li>
	                                <li><i aria-hidden="true" class="fa fa-star colored"></i></li>
	                                <li><i aria-hidden="true" class="fa fa-star colored"></i></li>
	                                <li><i aria-hidden="true" class="fa fa-star"></i></li>
	                                <li><i aria-hidden="true" class="fa fa-star"></i></li>
	                            </ul>
	                        </div>
	                        <div class="wallet-desciption">
	                        	<div class="desc-container half b-right">
	                        		<span class="desc-title">reference</span>	
	                        		<label>3451289056325</label>
	                        	</div>
	                        	<div class="desc-container half">
	                        		<span class="desc-title">date & time</span>	
	                        		<label>25/03/18  -  10:30 am</label>
	                        	</div>
	                        	<div class="desc-container one-forth b-right">
	                        		<span class="desc-title">lenght</span>	
	                        		<label>60 min</label>
	                        	</div>
	                        	<div class="desc-container one-forth b-right">
	                        		<span class="desc-title">postcode</span>	
	                        		<label>453882</label>
	                        	</div>
	                        	<div class="desc-container one-forth b-right">
	                        		<span class="desc-title">price</span>	
	                        		<label>£30.00</label>
	                        	</div>
	                        	<div class="desc-container one-forth">
	                        		<span class="desc-title">upgrade</span>	
	                        		<label>30 min - 30£</label>
	                        	</div>								
	                        </div>
	                        <div class="wallet-massage-disc">
	                            <div class="wallet-massage-date">24/04/2018</div>
	                            <div class="wallet-massage-status">
	                                <span class="wallet-massage-name">redemption on referral </span>
	                                <div class="wallet-massage-price">
	                                    <select class="form-control">
	                                        <option>+ £20</option>
	                                        <option>+ £80</option>
	                                        <option>+ £100</option>
	                                    </select>
	                                </div>
	                            </div>
	                            <div class="referral-person">
	                            	<p class="ref-amount">+£20</p>
									<p class="name">referral to<br>
									sabine dedeyan</p>
	                            </div>
	                        </div>
	                        <div class="wallet-massage-disc">
	                            <div class="wallet-massage-date">24/04/2018</div>
	                            <div class="wallet-massage-status">
	                                <span class="wallet-massage-name">deep tissue massage deep</span>
	                                <div class="wallet-massage-price">
	                                    <select class="form-control">
	                                        <option>- £60</option>
	                                        <option>- £80</option>
	                                        <option>- £100</option>
	                                    </select>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
                    </div>
                </div>
	        </div> -->
			<!-- <div class="right-content">				
				<div class="col-lg-10 offset-lg-1">
						<h4 class="title pb35">Share your referral code </h4>
						<div class="how-work">
							<h4 class="heading">how does it work</h4>
							<p>Share your code with your friends and earn as they redeem.</p>
							<p>Your friend can redeem their code straight away at their first booking, and once their booking is complete, you earn £10 in your wallet that you can use agsinst your next booking.</p>
						</div>		
						<div class="referral-container">
							<div class="copy-title">copy the link</div>
							<div class="frm-input-btn-grp">
								<input type="text" value="https://urbanmassage.com/i/RJOAQUAW" class="form-control" name="">
								<input type="submit" class="btn" value="copy" name="">
							</div>
							<div class="copy-title mt40">share your code</div>
							<div class="frm-input-btn-grp">
								<input type="text" value="https://urbanmassage.com/i/RJOAQUAW" class="form-control" name="">
								<input type="submit" class="btn" value="copy" name="">
							</div>
						</div>
						<ul class="social-share">
							<li>
								<a href="javascript:void(0)"><img src="assets/images/facebook.png" class="img-fluid" /></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/twitter.png" class="img-fluid" /></a>
							</li>
							<li>
								<a href="javascript:void(0)"><img src="assets/images/google-plus.png" class="img-fluid" /></a>
							</li>
						</ul>						
				</div>				
			</div> -->
			<div class="right-content">
	        	<div class="row">
	        		<div class="col-lg-5 offset-lg-1">
						<div class="signup-card profile-signup-card">
							<form>
								<div class="form-group">
									<select class="form-control">
										<option value="Mr">mr</option>
										<option value="Mrs">mrs</option>
										<option value="Miss">miss</option>
									</select>
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="first name">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="last name">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="house number">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="street name">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="postal code">
								</div>
								<div class="form-group">
									<input class="form-control" type="text" placeholder="mobile number">
								</div>
								<div class="form-group">
									<input class="form-control" type="email" placeholder="email">
								</div>
								<label class="fancy-checkbox">
									<input type="checkbox"><span><i></i><p>I would like to receive exclusive offers, events &amp; news from London Serenity</p></span>
								</label>
								<div class="button-group">
									<input class="btn btn-golden" type="submit" value="save changes">
									<input class="btn btn-golden new-password" type="submit" value="request new password">
								</div>
							</form>
						</div>
	        		</div>
	        		<div class="col-lg-5 offset-lg-1">
	        			<div class="signup-card profile-add-address">
							<form>
								<div class="form-group">
									<label>home</label>
									<input class="form-control" type="text" placeholder="set your home address now">
									<a href="#"><img class="img-fluid" src="assets/images/edit.png"></a>
								</div>
								<div class="form-group">
									<label>work</label>
									<input class="form-control" type="text" placeholder="set your home address now">
									<a href="#"><img class="img-fluid" src="assets/images/edit.png"></a>
								</div>
								<div class="form-group">
									<label>custom</label>
									<input class="form-control" type="text" placeholder="set your home address now">
									<a href="#"><img class="img-fluid" src="assets/images/edit.png"></a>
								</div>
								<div class="button-group">
									<input class="btn btn-golden" type="submit" value="add new address">
								</div>
							</form>
						</div>
	        		</div>
	        	</div>
	        </div>
        </div>
      </div>
    </div>
  </div>
</section>