<div class="modal-body forgot-modal">
  <form (ngSubmit)="submitForm()" [formGroup]="forgotPasswordForm">
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <img src="assets/images/close.png" alt="logo" />
    </button>
    <div class="title-icon text-center">
      <img src="assets/images/bird-color.png" alt="logo" />
      <h2 class="page-title">{{ 'FORGOT.Reset' | translate }}</h2>
    </div>
    <p class="forgot-text">{{ 'FORGOT.Text' | translate }}</p>
    <div class="form-group">
      <input type="email" name="email" formControlName="email" class="form-control" placeholder="email" />
<div *ngIf="submitted && f.email.errors" class="text-danger error-label">
        <div *ngIf="f.email.errors.required"> {{ 'ERROR.EMAIL' | translate }}</div>
        <div *ngIf="f.email.errors.email"> {{ 'ERROR.EMAIL_NOT_VALID' | translate }}</div>
      </div>
    </div>
    <div class="button-group text-center">
      <input type="submit" name="" value="{{ 'BUTTON.RESET' | translate }}" class="btn btn-golden">
    </div>
  </form>
</div>
